@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    background-color: #616161;
    font-family: 'Poppins', sans-serif;
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    max-width: 1100px;
    height: 500px;
    margin: auto;
    gap: 10px;
    overflow: hidden;
}


.truco {
    width: 400px;
    height: 50px;
    font-size: 50px;
    line-height: 50px;
    display: flex;
    overflow: hidden;   
}

ul {
    list-style: none;
    padding-left: 10px;
    animation: cambiar 7s infinite;
}

@keyframes cambiar {
    0% {margin-top: 0;}
    20%{margin-top: 0;}

    25%{margin-top: -50px;}
    50%{margin-top: -50px;}

    55%{margin-top: -100px;}
    80%{margin-top: -100px;}

    85%{margin-top: -50px;}
    95%{margin-top: -50px;}

    100%{margin-top: 0;}
}
ul li{
    margin: 0;
    font-size: 36px;
}
.contenedor__a{
    grid-column: 1/7;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30%;
    color: white;
    
}


.contenedor__b{
    width: 100%;
    height: auto;
    grid-column: 7/13;
    margin-top: 15%;
}

a{
    border: none;
    text-decoration: none;
    color: black;
    transition: .3s;
}

a:hover {
    color:rgb(20, 84, 55);
    border-bottom: 2px dotted rgb(20, 84, 55); 
}

button{
    cursor: pointer;
    border: none;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    display: inline-block;
}
/* seccion dos */
.contenedorDos{
    background-color: white;
    opacity: 0.9;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.tituloH2{
    padding: 20px;
    font-size: 3rem;
    border: rgb(20, 84, 55) 3px dotted; 
}
.parrafo{
    line-height: 40px;
}

/* seccion 3 */

.contenedorTres{
    padding: 20px;
    width: 60%;
    margin-top: -20%;
    margin-left: 20%;
}

/* seccion 4 */
.contenedorCuatro{
    height: 600px;
    margin: 3%;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    background-color:white;
    padding: 30px;
}

.tituloComoEmpiezo{
    font-size: 3rem;
    padding: 30px;
}
.card{
    padding: 20px;
    margin: 2%;
    border: rgb(20, 84, 55) 3px dotted;   
    flex-direction: row;
    align-items: center;
}

.contenedorTarjetas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botonFinal{
    margin-top: 5%;
    width: 30%;
    display: flex;
    background-color: rgb(20, 84, 55);
    justify-content: center;
    align-self: center;
}

.aBotonFinal:hover{
    color: white;
}

/* seccion 5 */

.contenedorCinco{
    height: 650px;
    margin: 3%;
    text-align: center;
    color: black;
    background-color:white;
    padding: 30px;

}
.tituloSobreMi{
    font-style: 3rem;

}

.contenedorCinco p{
    line-height: 30px;
}

.miFoto{
width: 230px;
height: 230px;
border-radius: 100%;
}

i{
    font-size: 3rem;
    padding: 30px;
    color: tomato;
}

footer{
    background-color: black;
    height: 50px;
    color: white;
    font-size: 0.7rem;
    text-align: center;
    padding: 10px;
}

@media only screen and (max-width: 767px){

    .contenedor {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        width: 90%;
        max-width: 700px;
        height: 600px;
        margin: auto;
        gap: 10px;
        overflow: hidden;
    }
    

    .textoBienvenida{
    font-size: 10px;
}

ul li{
    margin: 0;
    font-size: 16px;
    

}

.contenedor{

}
.contenedor__a{
    grid-column: 1/12;
    padding-bottom: 40px;
    color: white;
    
    
}
button{
    cursor: pointer;
    border: none;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    font-size: 12px;
    display: inline-block;
}
.contenedor__b{
    width: 80%;
    height: auto;
    margin: auto;
    grid-column: 1/13;
    margin-top: -15%;
}
.contenedorDos{
    background-color: white;
    opacity: 0.9;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.tituloH2{
    padding: 20px;
    font-size: 1.5rem;
    border: rgb(20, 84, 55) 3px dotted; 
    text-align: center;
}
.parrafo{
    line-height: 20px;
}

.contenedorTres{
margin-left: 2px;
    width: 100%;

}

.contenedorCuatro{
    height: 900px;
    margin: 3%;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    background-color:white;
    padding: 20px;
}

.tituloComoEmpiezo{
    font-size: 1.5rem;
    padding: 20px;
}
.card{
    padding: 20px;
    margin: 2%;
    border: rgb(20, 84, 55) 3px dotted;   
    flex-direction: row;
    align-items: center;
}

.contenedorTarjetas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botonFinal{
    margin-top: 5%;
    width: 30%;
    display: flex;
    background-color: rgb(20, 84, 55);
    justify-content: center;
    align-self: center;
}

.contenedorCinco{
    height: 800px;
    margin: 3%;
    text-align: center;
    color: black;
    background-color:white;
    padding: 20px;

}
.tituloSobreMi{
    font-style: 1.5rem;

}

.contenedorCinco p{
    line-height: 20px;
}


.miFoto{
width: 130px;
height: 130px;
border-radius: 100%;
}

i{
    font-size: 2rem;
    padding: 20px;
    color: tomato;
}

}